*{
  font-family: 'Noto Sans KR', sans-serif;
  color: #0D0D0D;
}
header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: #9bd6c6;
}
h1{
  margin: 95px auto 0px;
  width: 161px;
  font-size: 40px;
}
p{
  margin: 15px;
  flex-grow: 1;
}
#form_cont{
  width: 550px;
  margin: 0px auto;
  
}
.must{
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #FF0000;
  width: 270px;
  margin-left: 60%;
}
input[type="text"]{
  width: 333px;
  height: 45px;
  border: 0px solid #9bd6c6;
  border-radius: 5px;
  background-color: #F6F7FA;
  padding-left: 15px;
}
input[type="date"]{
  width: 320px;
  height: 45px;
  border: 0px solid #9bd6c6;
  border-radius: 5px;
  background-color: #F6F7FA;
  padding: 0px 15px;
}
.box_id{
  display: flex;
}
.id_box{
  width: 550px;
  display: flex;
  margin-left: 74px;
  margin-bottom: 10px;
}
.dup_chk{
  height: 30px;
  margin-left: 13px;
  margin-top: 10px;
  font-size: 14px;
}
.box{
  display: flex;
  margin: 0px auto 10px;
}
select{
  width: 105px;
  height: 45px;
  border: 0px solid #9bd6c6;
  border-radius: 5px;
  padding-left: 6px;
  background-color: #F6F7FA;
}
#selec_email{
  margin-left: 10px;
}
#put_email1{
  width: 90.5px;
  height: 45px;
  border: 0px solid #9bd6c6;
  border-radius: 5px;
  background-color: #F6F7FA;
}
#put_email2{
  width: 90.5px;
  height: 45px;
  border: 0px solid #9bd6c6;
  border-radius: 5px;
  background-color: #F6F7FA;
}
#put_ph1{
  width: 90px;
  height: 45px;
  border: 0px solid #9bd6c6;
  border-radius: 5px;
  background-color: #F6F7FA;
}
#put_ph2{
  width: 90px;
  height: 45px;
  border: 0px solid #9bd6c6;
  border-radius: 5px;
  background-color: #F6F7FA;
}
.ph_box{
  display: flex;
}
.email_sign{
  margin: 12px 2.5px 0px;
  flex-grow: 0;
}
.sign{
  margin: 12px 5px 0px;
}
.cau{
  font-size: 12px;
  color: #FF0000;
  margin: 2px 0px 0px 2px;
  display: none;
}
.cau_nfind{
  font-size: 12px;
  color: #FF0000;
  margin: 2px 0px 0px 2px;
  display: none;
}
hr{
  border: 0.1px solid #d3d3d3;
  margin-bottom: 18px;
}

.chk_box {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  margin-right: 28px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  flex-grow: 1;
}
.chk{
  margin: 10px 0px 10px 10px;
  display: flex;
}
.chk_all{
  margin: 10px 0px 20px 10px;
  display: flex;
}
/* 기본 체크박스 숨기기 */
.chk_box input[type="checkbox"] { 
  display: none;
}

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.on {
  width: 20px;
  height: 20px;
  background: #D8D3CF;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

/* 선택된 체크박스 스타일 꾸미기 */
.chk_box input[type="checkbox"]:checked + .on {
  border-radius: 3px;
  background: #ACD0CE;
}
.on:after {
  content: "";
  position: absolute;
  display: none;
}
.chk_box input[type="checkbox"]:checked + .on:after {
  display: block;
}
.on:after {
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 6px; top: 2px;
}

button{
  width: 550px;
  height: 45px;
  font-size: 16px;
  border: 0px;
  border-radius: 5px;
  background-color: #ACD0CE;
  cursor: pointer;
}
a{
  margin-right: 10px;
}
i{
  margin-right: 15px;
}
.bd{
  width: 700px;
  margin: 0px auto;
}
