*{
    font-family: 'Noto Sans KR', sans-serif;
    color: #0D0D0D;
}
html, body {
    margin: 0;
    height: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    display: block;
    height: 55px;
    border-bottom: 1px solid #A6A6A6;
    background-color: #ACD0CE;
}

/** 모달 css **/
.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    /**display: none;**/
    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
    display: block;
}
.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 520px;
    height: 380px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
i{
    font-size: 40px;
}
.x_btn{
    display: flex;
    padding-left: 90%;
}
.material-symbols-outlined{
    font-size: 40px;
    cursor: pointer;
    color: #7C7877;
}
.find_btn_box{
    display: flex;
}
button{
    margin-bottom: 20px;
    margin-right: 15px;
    width: 245px;
    height: 48px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    background-color: #D8D3CF;
    cursor: pointer;
}
#id_btn{
    margin-right: 15px;
}
.find_on{
    background-color: #ACD0CE;
}
.id{
    margin-right: 20px;
}
input{
    margin-top: 8px;
    width: 330px;
    height: 30px;
    border: 0px solid #ACD0CE;
    border-radius: 5px;
    padding-left: 15px;
    background-color: none;
}
.form_cont{
    width: 362px;
    margin-top: 23px;
}
.put_find_id{
    display: none;
}
.put_mail{
    display: flex;
    float: left;
    margin-left: 10px;
}
#email1{
    width: 90px;
    margin: 12px 10px 0px 0px;
}
#email2{
    width: 90px;
    margin: 12px 0px 0px 10px;
}
select{
    width: 80px;
    height: 30px;
    margin: 13px 0px 0px 10px;
    border-radius: 5px;
}
hr{
    width: 335px;
    border: 0.1px solid #d3d3d3;
    margin-bottom: 15px;
}
.find_id{
    background-color: #ACD0CE;
    font-size: 20px;
    border: 0px;
    width: 130px;
    height: 190px;
    position: absolute;
    bottom: 54px;
    right: 30px;
    border-radius: 15px;
}
/** 모달 끝 **/

#title{
    margin: 35px auto 0px;
    width: 124px;
    font-size: 40px;
}
.sns_log{
    margin: 46px auto 7px auto;
    width: 302px;
    display: flex;
}
.google{
    border: 3px solid #d3d3d3;
    width: 80px;
    height: 80px;
    margin-right: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.google_logo{
    width: 45px;
    position: relative;
    top: 23%;
    left: 22%;
}
.kakao{
    border: 3px solid #d3d3d3;
    width: 80px;
    height: 80px;
    margin-right: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.kakao_logo{
    width: 50px;
    position: relative;
    top: 22%;
    left: 19%;
}
.naver{
    border: 3px solid #d3d3d3;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}
.naver_logo{
    width: 65px;
    position: relative;
    top: 13%;
    left: 8.5%;
}
.hrz{
    display: flex;
    width: 500px;
    margin: 0px auto;
}
.hr1{
    position: relative;
    top: 20px;
    width: 200px;
    border: 0.1px solid #d3d3d3;
    height: 0.1px;
}
.hr2{
    position: relative;
    top: 20px;
    width: 200px;
    border: 0.1px solid #d3d3d3;
    height: 0.1px;
}
.put_box{
    /**border: 1px solid red;**/
    width: 350px;
    margin: 15px auto 25px;
}
#put_id{
    width: 333px;
    /**height: 35px;**/
    height: 45px;
    border: 0px solid #9bd6c6;
    border-radius: 5px;
    padding-left: 15px;
    background-color: #F6F7FA;

}
#put_pwd{
    margin-top: 8px;
    width: 333px;
    /**height: 35px;**/
    height: 45px;
    border: 0px solid #9bd6c6;
    border-radius: 5px;
    padding-left: 15px;
    background-color: #F6F7FA;
}
.agr_ch{
    width: 285px;
    margin: 0px auto 15px;
    padding-left: 25px;
}
.chk_box {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    margin-right: 28px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 기본 체크박스 숨기기 */
.chk_box input[type="checkbox"] {
    display: none;
}

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.on {
    width: 20px;
    height: 20px;
    background: #D8D3CF;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

/* 선택된 체크박스 스타일 꾸미기 */
.chk_box input[type="checkbox"]:checked + .on {
    border-radius: 3px;
    background: #ACD0CE;
}
.on:after {
    content: "";
    position: absolute;
    display: none;
}
.chk_box input[type="checkbox"]:checked + .on:after {
    display: block;
}
.on:after {
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 6px; top: 2px;
}

.btns{
    display: flex;
    margin: 0px auto;
    width: 350px;
}
#find_idpwd{
    margin-right: 12px;
    width: 177px;
    height: 45px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    background-color: #ACD0CE;
    cursor: pointer;
}
#login{
    width: 177px;
    height: 45px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    background-color: #ACD0CE;
    cursor: pointer;
    margin-right: 0px;
}
.a_link{
    width: 60px;
    /**border: 1px solid red;**/
    margin: 8px auto;
}
a{
    color: black;
}
.a_login{
    text-decoration: none;
}
.cau_log{
    width: 310px;
    margin: 0px auto;
    font-size: 12px;
    color: #FF0000;
    display: none;

}
.cau_id{
    display: none;
    font-size: 12px;
    color: #FF0000;
    margin: 1px 0px 5px 3px;
}
.cau_pwd{
    display: none;
    font-size: 12px;
    color: #FF0000;
    margin: 1px 0px 5px 3px;
}
