<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cs.cloudspring.dao.DirectoryMapper">


    <select id="selectAll" resultType="DirectoryDto">
        SELECT file_uuid, file_name, file_url, file_size, file_upload_date, id, file_favorite, file_check
        FROM file
    </select>



</mapper>